*, html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.fContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    height: 40px;
    background-color: gray;
    text-transform: capitalize;
    box-shadow: 0px 1px 10px 0px rgb(0, 0, 0);
}

.brand {
    display: flex;
    flex-direction: row;
}

.firstNm{
    color: white;
    font-weight: 700;
}

.lastNm{
    color: crimson;
    font-weight: 400px;
    padding-left: 4px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation > li > a:hover {
    color: crimson;
    transition: all .2s ease-in-out;
}

.active {
    background-color: crimson;
    color: white;
    padding: 8px;
}

.active:hover {
    color: white !important;
}